[Unit]
Description=grafana

After=docker.service
After=influxdb.service

Requires=docker.service
Requires=influxdb.service

[Service]
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

ExecStartPre=-/usr/bin/docker kill grafana
ExecStartPre=-/usr/bin/docker rm grafana
ExecStart=/usr/bin/docker run \
    --name=grafana \
    --link influxdb:influxdb \
    -p 80:8080 \
    -e INFLUXDB_HOST=influxdb \
    kubernetes/heapster_grafana:v0.7

Restart=always
RestartSec=5

# Stop
ExecStop=/usr/bin/docker stop grafana

[X-Fleet]
X-ConditionMachineOf=influxdb.service

