[Unit]
Description=Jenkins Instance
After=docker.service
Requires=docker.service
#After=%p-data@%1.service
#Requires=%p-data@%1.service


[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull jenkins:1.596.2
ExecStartPre=-/usr/bin/docker rm jenkins-%i
ExecStart=/usr/bin/docker run --rm --name jenkins-%i -p 808%i:8080 -p 5000%i:50000 jenkins:1.596.2
ExecStop=/usr/bin/docker stop jenkins-%i


